body {
    color: white;
    background-color: #202020;
}

main {
    margin: 5vw;
}

.alert {
    font-size: 36pt;
}

.alert .errorText {
    font-size: 30pt;
}

.messageList {
    list-style: none;
}